Options +FollowSymlinks
RewriteEngine On

RewriteRule ^Accueil$ index.php
RewriteRule ^Contact$ contact.php
RewriteRule ^Salon$ salon.php
RewriteRule ^Offres$ offre.php
RewriteRule ^Mentions-Legales$ mention.php
RewriteRule ^Blog$ blog.php
RewriteRule ^Article/([0-9]+)/(.+)$ article.php?id=$1