@charset "UTF-8";
body {
  background: #e8e8e8; }

.container {
  max-width: 1400px !important;
  width: inherit; }

.btn-hair {
  background: #71b744;
  border-radius: 0;
  color: white;
  font-weight: bold; }
  .btn-hair:hover {
    color: white;
    background: #8db762; }

header {
  text-align: center;
  padding: 35px;
  background: url(/version2/media/header.jpg);
  max-height: 300px;
  background-size: cover;
  background-position: center; }
  header img {
    height: 100%;
    width: auto; }
    @media screen and (max-width: 395px) {
      header img {
        height: 56%; } }

@media screen and (min-width: 767px) {
  nav.navbar {
    height: 70px; }
    nav.navbar .container-fluid {
      height: 100%; }
    nav.navbar .navbar-collapse {
      display: flex !important;
      /*  @media screen and (max-width: 767px) {
          display: block !important;
        }*/ }
    nav.navbar ul.navbar-nav {
      flex: 1;
      height: 100%; }
      nav.navbar ul.navbar-nav#nav-princ {
        flex: 3; }
        nav.navbar ul.navbar-nav#nav-princ li {
          margin: 0 35px; } }
        @media screen and (min-width: 767px) and (max-width: 1020px) {
          nav.navbar ul.navbar-nav#nav-princ li {
            margin: 0 15px; } }

@media screen and (min-width: 767px) {
      nav.navbar ul.navbar-nav a {
        height: 100%;
        position: relative;
        line-height: 40px; }
        nav.navbar ul.navbar-nav a i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
        nav.navbar ul.navbar-nav a:hover {
          color: #8db762; } }

.MyCarousel {
  height: 465px;
  overflow: hidden;
  position: relative; }
  @media screen and (max-width: 767px) {
    .MyCarousel {
      height: inherit; } }
  .MyCarousel .owl-nav {
    position: absolute;
    top: 0;
    width: 100%; }
    .MyCarousel .owl-nav .owl-prev {
      float: left;
      padding: 10px;
      background: RGBa(255, 255, 255, 0.7); }
      .MyCarousel .owl-nav .owl-prev:hover {
        background: RGBa(255, 255, 255, 0.9); }
    .MyCarousel .owl-nav .owl-next {
      float: right;
      padding: 10px;
      background: RGBa(255, 255, 255, 0.7); }
      .MyCarousel .owl-nav .owl-next:hover {
        background: RGBa(255, 255, 255, 0.9); }

.main {
  display: flex;
  margin: 30px 0; }
  @media screen and (max-width: 980px) {
    .main {
      display: block; } }
  .main aside {
    flex: 1; }
    .main aside .description {
      padding: 15px;
      background: white; }
      .main aside .description .img-d {
        background: url(/media/salon_presentation.jpg);
        width: 100px;
        border-radius: 50%;
        height: 100px;
        background-size: cover;
        background-position: center;
        margin: auto; }
      .main aside .description p {
        text-align: justify;
        margin: 20px;
        line-height: 25px; }
    .main aside .reseaux_sociaux {
      list-style: none;
      display: flex;
      margin: 20px 0;
      padding: 20px;
      background: white; }
      .main aside .reseaux_sociaux li {
        flex: 1;
        text-align: center; }
        .main aside .reseaux_sociaux li a {
          color: black; }
    .main aside .proverbe {
      margin: 20px 0;
      padding: 40px;
      background: white;
      position: relative;
      text-align: justify; }
      @media screen and (max-width: 980px) {
        .main aside .proverbe {
          text-align: center; } }
      .main aside .proverbe:before {
        content: '«';
        position: absolute;
        top: 5px;
        left: 21px;
        font-size: 30px;
        color: #585858; }
      .main aside .proverbe:after {
        content: '»';
        position: absolute;
        bottom: 5px;
        right: 21px;
        font-size: 30px;
        color: #585858; }
  .main .homepage {
    margin-right: 30px;
    flex: 3;
    display: flex;
    flex-wrap: wrap; }
    @media screen and (max-width: 980px) {
      .main .homepage {
        margin-right: 0; } }

.article_remonter {
  flex: 1;
  width: 50%;
  max-width: 50%;
  min-width: 47%;
  background: white;
  margin-bottom: 20px; }
  @media screen and (max-width: 600px) {
    .article_remonter {
      max-width: 100%;
      min-width: 100%; } }
  .article_remonter:nth-child(2n+2) {
    margin-left: 20px; }
    @media screen and (max-width: 600px) {
      .article_remonter:nth-child(2n+2) {
        margin-left: 0; } }
  .article_remonter a.image {
    width: 100%;
    display: block;
    height: 280px;
    background-size: cover !important;
    background-position: center !important; }
    @media screen and (max-width: 500px) {
      .article_remonter a.image {
        height: 155px;
        padding: 15px 20px; } }
  .article_remonter h2 {
    margin-top: 0; }
    .article_remonter h2 a {
      font-size: 23px;
      color: black;
      text-decoration: none; }
      @media screen and (max-width: 330px) {
        .article_remonter h2 a {
          font-size: 16px; } }
  .article_remonter .content_art {
    padding: 50px; }
    @media screen and (max-width: 500px) {
      .article_remonter .content_art {
        padding: 15px 20px; } }
    .article_remonter .content_art .info {
      margin: 10px 0;
      color: #676767; }
    .article_remonter .content_art .resume {
      line-height: 26px;
      text-align: justify; }
      @media screen and (max-width: 330px) {
        .article_remonter .content_art .resume {
          line-height: 18px; } }

footer {
  background: white;
  padding: 20px; }
  footer h2 {
    text-align: center;
    font-weight: 100;
    margin: 40px;
    font-size: 20px; }
    @media screen and (max-width: 500px) {
      footer h2 {
        display: none; } }
  footer img {
    width: 15%;
    display: block;
    margin: 30px auto; }
    @media screen and (max-width: 400px) {
      footer img {
        width: 30%; } }
  footer .footer-link {
    display: flex; }
    @media screen and (max-width: 700px) {
      footer .footer-link {
        flex-direction: column;
        margin: 20px 0; } }
    footer .footer-link > div {
      flex: 1; }
      @media screen and (max-width: 700px) {
        footer .footer-link > div {
          text-align: center; } }
      footer .footer-link > div ul {
        list-style: none; }
        @media screen and (max-width: 700px) {
          footer .footer-link > div ul {
            padding: 0; } }
        footer .footer-link > div ul li:first-child {
          padding: 0 0 10px;
          position: relative;
          font-weight: bold; }
          footer .footer-link > div ul li:first-child:after {
            content: '';
            width: 30px;
            position: absolute;
            background: #71b744;
            height: 2px;
            top: 20px;
            left: 0; }
            @media screen and (max-width: 700px) {
              footer .footer-link > div ul li:first-child:after {
                content: none; } }
        footer .footer-link > div ul li a {
          color: #505050;
          font-weight: 600;
          text-decoration: none; }
          footer .footer-link > div ul li a:hover {
            color: #71b744; }
    footer .footer-link .newsletter {
      padding: 0 30px; }
      footer .footer-link .newsletter label {
        padding: 0 0 10px;
        position: relative;
        font-weight: bold; }
        footer .footer-link .newsletter label:after {
          content: '';
          width: 30px;
          position: absolute;
          background: #71b744;
          height: 2px;
          top: 20px;
          left: 0; }
          @media screen and (max-width: 700px) {
            footer .footer-link .newsletter label:after {
              content: none; } }
      footer .footer-link .newsletter input {
        border-radius: 0;
        height: 42px; }
        @media screen and (max-width: 460px) {
          footer .footer-link .newsletter input {
            width: 100%; } }
  footer .copyright_element {
    color: #545454;
    text-align: center; }

.contact {
  display: flex;
  margin: 20px 0; }
  @media screen and (max-width: 650px) {
    .contact {
      flex-direction: column; } }
  .contact > div {
    flex: 1; }
  .contact .form_contact input {
    border-radius: 0; }
  .contact .adresse > div {
    font-size: 18px; }
    .contact .adresse > div i {
      margin-right: 10px; }
    .contact .adresse > div img {
      margin: 20px 0;
      width: 70%; }
      @media screen and (max-width: 650px) {
        .contact .adresse > div img {
          margin: 0;
          width: 100%; } }

.map {
  margin: 20px auto; }
  .map iframe {
    width: 100% !important; }

.salon {
  flex: 3;
  max-width: 75%;
  padding: 0 35px 0 0; }
  @media screen and (max-width: 980px) {
    .salon {
      max-width: 100%;
      padding: 0; } }
  .salon .carouselsalon {
    height: 400px;
    overflow: hidden;
    position: relative; }
    @media screen and (max-width: 625px) {
      .salon .carouselsalon {
        height: inherit; } }
    .salon .carouselsalon .owl-nav {
      position: absolute;
      top: 0;
      width: 100%; }
      .salon .carouselsalon .owl-nav .owl-prev {
        float: left;
        padding: 10px;
        background: RGBa(255, 255, 255, 0.7); }
        .salon .carouselsalon .owl-nav .owl-prev:hover {
          background: RGBa(255, 255, 255, 0.9); }
      .salon .carouselsalon .owl-nav .owl-next {
        float: right;
        padding: 10px;
        background: RGBa(255, 255, 255, 0.7);
        margin-right: -1px; }
        .salon .carouselsalon .owl-nav .owl-next:hover {
          background: RGBa(255, 255, 255, 0.9); }
  .salon .description, .salon .eco-coiffeur {
    padding: 45px;
    background: white;
    margin-right: -1px;
    font-size: 15px;
    line-height: 28px;
    text-align: justify; }
    @media screen and (max-width: 400px) {
      .salon .description, .salon .eco-coiffeur {
        line-height: 20px;
        font-size: 0.8em; }
        .salon .description ul, .salon .eco-coiffeur ul {
          padding: 0 20px; } }
    .salon .description h2, .salon .eco-coiffeur h2 {
      text-align: center;
      margin: 0 0 20px 0; }
  .salon .eco-coiffeur {
    margin: 20px 0;
    position: relative; }
    .salon .eco-coiffeur #left {
      width: 70px;
      position: absolute;
      top: 20px; }
      @media screen and (max-width: 460px) {
        .salon .eco-coiffeur #left {
          position: relative;
          display: block;
          margin: 0 auto 40px; } }
    .salon .eco-coiffeur #right {
      width: 70px;
      position: absolute;
      top: 20px;
      right: 45px; }
      @media screen and (max-width: 460px) {
        .salon .eco-coiffeur #right {
          display: none; } }
    .salon .eco-coiffeur #perf {
      margin: 20px auto;
      display: block; }
  .salon #equipe_title {
    padding: 20px;
    background: white;
    text-align: center; }
  .salon .equipe {
    margin: 20px 0;
    background: white;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 600px) {
      .salon .equipe {
        flex-direction: column; } }
    .salon .equipe p {
      padding: 30px;
      flex: 4; }
      @media screen and (max-width: 767px) {
        .salon .equipe p {
          flex: 2; } }
      @media screen and (max-width: 600px) {
        .salon .equipe p {
          order: 2; } }
    .salon .equipe .photo_equipe {
      flex: 2;
      height: 250px;
      background-size: cover;
      background-position: center; }
      @media screen and (max-width: 600px) {
        .salon .equipe .photo_equipe {
          min-height: 250px;
          order: 1;
          width: 100%; } }
