body {
  background: #e8e8e8;
}

.container {
  max-width:1400px !important;
  width:inherit;
}

.btn-hair {
  background: $greenhover;
  border-radius: 0;
  color: white;
  font-weight: bold;

  &:hover {
    color: white;
    background: $green;
  }
}

*:not(i) {
  font-family: 'Capriola', sans-serif !important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Pacifico', cursive !important;
  a {
    font-family: 'Pacifico', cursive !important;
  }
}


