header{
  text-align: center;
  padding: 35px;
  background: url(/version2/media/header.jpg);
  max-height:300px;
  background-size: cover;
  background-position: center;

  img {
    height: 100%;
    width: auto;

    @media screen and (max-width: 395px) {
      height: 56%;
    }
  }
}