.main {
  display: flex;
  margin:30px 0;

  @media screen and (max-width:980px) {
    display: block;
  }

  aside {
    flex:1;
    .description {
      padding:15px;
      background: white;

      .img-d {
        background: url(/media/salon_presentation.jpg);
        width: 100px;
        border-radius: 50%;
        height: 100px;
        background-size:cover;
        background-position: center;
        margin:auto;
      }

      p {
        text-align: justify;
        margin: 20px;
        line-height: 25px;
      }
    }

    .reseaux_sociaux {
      list-style: none;
      display: flex;
      margin:20px 0;
      padding: 20px;
      background: white;

      li {
        flex: 1;
        text-align: center;
        a {
          color: black;
        }
      }
    }
    .proverbe {
      margin:20px 0;
      padding: 40px;
      background: white;
      position: relative;
      text-align: justify;

      @media screen and (max-width:980px){
        text-align: center;
      }

      &:before {
        content: '«';
        position: absolute;
        top: 5px;
        left: 21px;
        font-size: 30px;
        color: #585858;
      }

      &:after {
        content: '»';
        position: absolute;
        bottom: 5px;
        right: 21px;
        font-size: 30px;
        color: #585858;
      }

      span {
        color: #a5a5a5;
      }
    }
  }

    .homepage {
      margin-right:30px;
      flex:3;
      display: flex;
      flex-wrap: wrap;

      @media screen and (max-width:980px){
        margin-right:0;
      }
    }

}