@media screen and (min-width: 767px) {
  nav.navbar {
    height: 70px;

    .container-fluid {
      height: 100%;
    }
    .navbar-collapse {
      display: flex !important;
      /*  @media screen and (max-width: 767px) {
          display: block !important;
        }*/

    }
    ul.navbar-nav {
      flex: 1;
      height: 100%;

      &#nav-princ {
        flex: 3;
        li {
          margin: 0 35px;

          @media screen and (max-width: 1020px) {
            margin: 0 15px;
          }
        }
      }
      a {
        height: 100%;
        position: relative;
        line-height: 40px;

        i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }

        &:hover {
          color: $green;
        }
      }
    }
  }
}